<h1>Welcome</h1>
<h2>Things to do</h2>
  <ul>
    	<li> We could handle account authentication here</li>
 		<li> We could handle account generation here</li>
		<li> <%= link_to 'New N code', new_n_code_path %> </li>
	</ul>
<p>Find me in app/views/welcome/index.html.erb</p>


